header {
  position: relative;
  box-shadow: 0 0 5px var(--shadow);
  background: var(--bg-card);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
